.font-hero-color {
  color: white;
}
.reservation-button {
  background-color: black !important;
  color: white !important;
}

.MuiSvgIcon-root {
  color: white;
}

.tabbed-hero {
  height: 100vh;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.hero-menu {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.hero-logoContainer {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.tabbedHero-menu a {
  text-decoration: none;
}

.hero-tab {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-tab-container {
  position: absolute;
  top: 50%;
  left: 500px;
  color: white;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

.background-image {
  width: 100%;
  height: 100%;
}

.background-image-housing {
  background-image: url(../../assets/hero-housing.png);
  background-size: cover;
  background-position: center center;
}

.background-image-restaurant {
  background-image: url(../../assets/junte-os-seus-amigos.png);
  background-size: cover;
  background-position: center center;
}

.background-image-organic {
  background-image: url(../../assets/Organic.png);
  background-size: cover;
  background-position: center center;
}

.background-image-gym {
  background-image: url(../../assets/Gym.png);
  background-size: cover;
  background-position: center center;
}

.background-image-experiences {
  background-image: url(../../assets/fuseta-1.png);
  background-size: cover;
  background-position: center center;
}

.tabbedHero-menu {
  align-items: center;
  flex-direction: column;
}

.container-position-relative {
  position: relative;
  text-align: center;
  color: white;
}

.container-position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .reveal {
    display: block;
  }

  .hero-tab-container h3 {
    display: none;
  }
  .hero-tab-container h1 {
    display: none;
  }
  .tabbedHero-menu > div {
    padding-bottom: 20px;
  }
  .tabbedHero-menu {
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;

    transform: translate(0%, 50%);
  }
  .partners {
    display: flex;
    flex-direction: column;
  }
  .iguarias-partner {
    width: 100%;
  }

  .iguarias-container {
    width: 100%;
    height: 13.3vh;
    background-image: url(../../assets/junte-os-seus-amigos.png);
    background-size: cover;
    background-position: center;
  }
  .container-top {
    margin-top: 10px;
    height: 13.3vh;
    background-image: url(../../assets/Organic.png);
    background-size: cover;
    background-position: center;
  }

  .container-middle {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 13.3vh;
    background-image: url(../../assets/Gym.png);
    background-size: cover;
    background-position: center;
  }
  .container-bottom {
    height: 13.3vh;
    background-image: url(https://www.passeios-ria-formosa.com/wp-content/uploads/2021/01/aqua-taxi-slider.jpg);
    background-size: cover;
    background-position: center;
  }
  .partners-width {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .tabbedHero-menu {
    position: absolute;
    bottom: 50%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;

    transform: translate(0%, 50%);
  }
  .tabbedHero-menu > div {
    padding-bottom: 20px;
  }

  .hero-tab-container h3 {
    display: none;
  }
  .hero-tab-container h1 {
    display: none;
  }

  .tabbedHero-menu {
    align-items: center;
    flex-direction: column;
  }

  .partners {
    display: flex;
    flex-direction: column;
  }

  .iguarias-partner {
    width: 100%;
  }
  .iguarias-container {
    width: 100%;
    height: 13.3vh;
    background-image: url(../../assets/junte-os-seus-amigos.png);
    background-size: cover;
    background-position: center;
  }
  .container-top {
    margin-top: 10px;
    height: 13.3vh;
    background-image: url(../../assets/Organic.png);
    background-size: cover;
    background-position: center;
  }

  .container-middle {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 13.3vh;
    background-image: url(../../assets/Gym.png);
    background-size: cover;
    background-position: center;
  }
  .container-bottom {
    height: 13.3vh;
    background-image: url(https://www.passeios-ria-formosa.com/wp-content/uploads/2021/01/aqua-taxi-slider.jpg);
    background-size: cover;
    background-position: center;
  }

  .partners {
    display: flex;
    flex-direction: column;
  }

  .iguarias-partner {
    width: 100%;
  }
  .iguarias-container {
    width: 100%;
    height: 23.3vh;
    background-image: url(../../assets/junte-os-seus-amigos.png);
    background-size: cover;
    background-position: center;
  }
  .container-top {
    margin-top: 10px;
    height: 23.3vh;
    background-image: url(../../assets/Organic.png);
    background-size: cover;
    background-position: center;
  }

  .container-middle {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 23.3vh;
    background-image: url(../../assets/Gym.png);
    background-size: cover;
    background-position: center;
  }
  .container-bottom {
    height: 23.3vh;
    background-color: red;
  }

  .partners-width {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .hero-tab-container h3 {
    display: none;
  }
  .hero-tab-container h1 {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .reveal {
    display: none;
  }

  .reveal.active {
    display: block;
  }
  .hero-tab-container h3 {
    display: block;
  }
  .hero-tab-container h1 {
    display: block;
  }
  .hero-tab-container {
    top: 40%;
    left: 350px;
  }

  .tabbedHero-menu {
    align-items: center;
    flex-direction: row;

    transform: none;
  }

  .tabbedHero-menu div {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
  }

  .tabbedHero-menu h2 {
    padding-left: 20px;
  }
  .tabbedHero-menu a {
    text-decoration: none;
  }

  .tabbedHero-menu {
    position: absolute;
    bottom: 50px;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
  }

  .partners {
    display: flex;
    flex-direction: row;
  }

  .iguarias-partner {
    width: 50%;
  }
  .iguarias-container {
    width: 100%;
    height: 73vh;
    background-color: red;
  }

  .container-top {
    margin-top: 0px;
    margin-left: 10px;
    height: 33%;
  }
  .container-middle {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 33%;
    background-color: red;
  }

  .container-bottom {
    height: 33%;
    background-color: red;
    margin-left: 10px;
  }
  .partners-width {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
}
