@media only screen and (max-width: 600px) {
  .footer {
    background-color: #000000;
    color: white;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-informations {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    background-color: #000000;
    color: white;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-informations {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .footer-informations {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
  }
}
